[Unit]
Description=Amazon EC2 Init
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/amazon-ec2-init

[Install]
WantedBy=multi-user.target
